@use 'variables';

@media (min-width: 1200px) {

    #header #menu .menu--wrapper {
        .branding-wrapper img {
            transition: opacity variables.$animation-speed;
            opacity: 0;
        }
        ul li {
            opacity: 0;
            transition: opacity variables.$animation-speed;

            &:nth-child(1) { transition-delay: 0.6s; }
            &:nth-child(2) { transition-delay: 0.8s; }
            &:nth-child(3) { transition-delay: 1s; }
            &:nth-child(4) { transition-delay: 1.2s; }
            &:nth-child(5) { transition-delay: 1.4s; }
            &:nth-child(6) { transition-delay: 1.6s; }
        }
    }
    #header.visible #menu .menu--wrapper {
        .branding-wrapper img { opacity: 1; }
        ul li { opacity: 1; }
    }

    #hero .hero--image {
        .hero--container .hero--wrapper {
            h1 {
                transition: 
                    opacity variables.$animation-speed,
                    transform variables.$animation-speed;
                opacity: 0;
                transform: translateX(-20px);

                span {
                    transition: 
                        opacity variables.$animation-speed,
                        transform variables.$animation-speed;
                    opacity: 0;
                    transition-delay: 0.5s;
                    transform: translateX(-20px);

                }
            }
            p {
                opacity: 0;
                transition: 
                    opacity variables.$animation-speed,
                    transform variables.$animation-speed;
                opacity: 0;
                transition-delay: 1s;
                transform: translateX(-20px);
            }
        }

        &.visible .hero--container .hero--wrapper  {
            h1 {
                opacity: 1;
                transform: translateX(0);

                span {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            p {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

}