@use 'variables';

.circles {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 40px solid #A3A3A3;
    opacity: 0.07;
    position: absolute;
    z-index: 0;
    top: 20px;
}
.circles:before {
    content: "";
    width: 250%;
    height: 250%;
    border-radius: 50%;
    border: 40px solid #A3A3A3;
    position: absolute;
    z-index: 0;
    left: calc(-75% - 40px);
    top: calc(-75% - 40px);
}
.circles:after {
    content: "";
    width: 400%;
    height: 400%;
    border-radius: 50%;
    border: 40px solid #A3A3A3;
    position: absolute;
    z-index: 0;
    left: calc(-150% - 40px);
    top: calc(-150% - 40px);
}

.primary-button.hero {
    padding: 16px 21px;
}
.primary-button {
    background-color: variables.$lightblue;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s;
    text-align: center;
    padding: 10px 21px;
    border-radius: 8px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}
.primary-hollow-button {
    background-color: #fff;
    color: variables.$lightblue;
    text-decoration: none;
    transition: background-color 0.5s;
    text-align: center;
    padding: 10px 21px;
    border-radius: 8px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    border: 2px solid variables.$lightblue;
}
.button-anim {
    border: 2px solid variables.$lightblue;
    transition: color 0.45s, background-position 0.7s;
    background-image: url("../assets/images/button-shape.svg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: -150%;
    background-position-x: left;
}
.button-anim:hover {
    background-position-y: 85%;
    color: variables.$lightblue;
}
.button-anim-inverse {
    border: 2px solid variables.$lightblue;
    transition: color 0.45s, background-position 0.7s;
    background-image: url("../assets/images/button-shape.svg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: 85%;
    background-position-x: left;
    color: variables.$lightblue;
}
.button-anim-inverse:hover {
    background-position-y: -150%;
    color: #fff;
}

@media (min-width: variables.$mobile-breakpoint) {
    .primary-button {
        display: inline-block;
        font-size: 1.1em;
    }
    .primary-button:not(.button-anim):not(.button-anim-inverse) {
        transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
        border: 2px solid variables.$lightblue;
    }
    .primary-button:hover:not(.button-anim):not(.button-anim-inverse) {
        box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.1803921569);
        background-color: #fff;
        color: variables.$lightblue;
    }
    .primary-hollow-button:not(.button-anim):not(.button-anim-inverse) {
        transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
    }
    .primary-hollow-button:hover {
        box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.1803921569);
        background-color: variables.$lightblue;
        color: #fff;
    }
    .circles {
        left: 0px;
        top: calc(50% - 125px);
    }
}

@media (min-width: variables.$laptop-breakpoint) {
    .circles {
        width: 600px;
        height: 600px;
        left: unset;
        right: -7%;
        top: -50px;
        border-width: 70px;
    }
    .circles:before {
        width: 200%;
        height: 200%;
        border-width: 70px;
        left: calc(-50% - 70px);
        top: calc(-50% - 70px);
    }
    .circles:after {
        width: 300%;
        height: 300%;
        border-width: 70px;
        left: calc(-100% - 70px);
        top: calc(-100% - 70px);
    }
}
@media (min-width: variables.$desktop-breakpoint) {
    .circles {
        width: 900px;
        height: 900px;
        right: calc(50% - 800px);
        top: -160px;
        border-width: 80px;
    }
    .circles:before {
        width: 150%;
        height: 150%;
        border-width: 80px;
        left: calc(-25% - 80px);
        top: calc(-25% - 80px);
    }
    .circles:after {
        width: 200%;
        height: 200%;
        border-width: 80px;
        left: calc(-50% - 80px);
        top: calc(-50% - 80px);
    }
}