@use '../variables';

.homeblock {
    padding: 20px;

    p {
        line-height: 1.6em;
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 20px;
    }
    .images {
        display: none;
    }
    
    &.commercial-home {
        background-color: #FAFAFA;

        .section-head:before {
            content: "";
            display: block;
            padding-bottom: 80%;
            width: 100%;
            border-radius: 8px;
            background-image: url("../assets/images/front-page/commercial/mobile-commercial.webp");
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;
        }
    }

    &.about {
        .section-head:before {
            content: "";
            display: block;
            padding-bottom: 80%;
            width: 100%;
            border-radius: 8px;
            background-image: url("../assets/images/front-page/team-profile/the-team-mobile.png");
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;
        }
    }

    &.residential {

        .section-head:before {
            content: "";
            display: block;
            padding-bottom: 80%;
            width: 100%;
            border-radius: 8px;
            background-image: url("../assets/images/front-page/domestic/mobile-domestic.webp");
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;
        }
    }
    
}
@media (min-width: variables.$mobile-breakpoint) {
    .homeblock {
        padding: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/images/texture-circle-pattern.svg");
        background-repeat: no-repeat;
        position: relative;

        &.about .section-head:before {
            display: none;
        }
        &.commercial-home {
            background-image: unset;
            .section-head:before { display: none; }
        }
        &.residential .section-head:before {
            display: none;
        }
        .images {
            display: unset;
            img {
                width: 100%;
                object-fit: cover;
                object-position: right top;
            }
        }
        .wrapper {
            display: grid;
            gap: 30px;
            max-width: variables.$maxwidth;

            .text {
                padding: 0 20px;
                .text-lead {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    
}
@media (min-width: variables.$laptop-breakpoint) {
    .homeblock {
        .wrapper {
            grid-template-columns: 42fr 36fr;
            align-items: center;
        }
    }
}