@use '../variables';

.homeblock {
    padding: 20px;

    &.commercial-home {
        background-color: #FAFAFA;
    }
    .images {
        display: none;
    }
}
@media (min-width: variables.$mobile-breakpoint) {
    .homeblock {
        padding: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/images/texture-circle-pattern.svg");
        background-repeat: no-repeat;
        position: relative;

        &.commercial-home {
            background-image: unset;
        }
        .images {
            display: unset;
            img {
                width: 100%;
                object-fit: cover;
                object-position: right top;
            }
        }
        .wrapper {
            display: grid;
            gap: 30px;
            max-width: variables.$maxwidth;
            .text {
                padding: 0 20px;
                .text-lead {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
    
}
@media (min-width: variables.$laptop-breakpoint) {
    .homeblock {
        .wrapper {
            grid-template-columns: 42fr 36fr;
            align-items: center;
        }
    }
}