@use '../variables';

#residential {
    position: absolute;
    top: -60px;
}

@media (min-width: variables.$mobile-breakpoint) {
    #residential {
        top: -70px;
    }

    .residential .images {
        display: grid;
        gap: 20px;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;

        img {
            width: 100%;
            object-fit: cover;
            object-position: right top;
        }
        div  {
            display: flex;
            flex-direction: column;
            gap: 30px;
            img {
                max-height: 354px;
            }  
        }
    }

}