@use '../variables';

.about-us-section {
    overflow: hidden;
    background-color: #FAFAFA;
    position: relative;

    .about-container {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        z-index: 4;
        position: relative;
        max-width: variables.$maxwidth;

        h1 {
            font-size: 1.5em;
            font-weight: 700;
            margin-bottom: 16px;
        }
        p {
            line-height: 1.7em;
            margin-bottom: 20px;
        }
    }
}
.gen-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.where {
    h2 {
        margin-bottom: 18px;
    }
    p {
        margin-bottom: 20px;
        line-height: 1.5;
    }
    .where-images {
        img {
            width: 100%;
            height: auto;
        }
        img:first-child {
            margin-bottom: 20px;
        }
    }
}
.generations {
    background-color: #fafafa;


    h1 {
        text-align: center;
        margin: 10px 0 30px 0;
        font-weight: 800;
        font-size: 1.5em;
        
        span {
            color: variables.$lightblue;
        }
    }
    h2 {
        font-size: 1.35em;
        margin: 8px 0;
    }
    p {
        line-height: 1.7em;
    }
    img {
        width: 100%;
        height: 300px;
        max-width: 300px;
        display: block;
        margin: auto;
        object-fit: cover;
        object-position: 20%;
        border-radius: 8px;
    }
    .profile {
        margin-bottom: 20px;
    }
    .jason-canning.profile, .harold-canning.profile {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (min-width: variables.$mobile-breakpoint) {
    .about-us-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .about-container {
            min-height: 480px;
            h1 {
                font-size: 2.6em;
            }
            p {
                font-size: 1.2em;
            }
            a {
                width: 150px;
            }
        }
    }
    .where {
        display: flex;
        justify-content: center;
        padding: 30px;

        .gen-container {
            display: grid;
            grid-template-columns: 50fr 50fr;
            gap: 40px;
            
            p {
                line-height: 1.9em;
            }

            .where-images {
                position: relative;

                img:first-child {
                    width: 70%;
                    z-index: 10;
                }
                img:last-child {
                    width: 70%;
                    margin-top: -70px;
                    margin-left: 30%;
                    z-index: 5;
                }
            }
        }
    }
    .gen-container {
        max-width: variables.$maxwidth;
        position: relative;
    }
    .generations {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .jason-canning.profile, .harold-canning.profile,
        .profile {
            display: flex;
            flex-direction: row;
            gap: 60px;
            align-items: center;
            position: relative;

            img {
                min-width: 136px;
                min-height: 467px;
                max-width: unset;
                width: unset;
            }
        }
    }
    
}
 @media (min-width: 1000px) {
    .about-us-section .circles {
        right: calc(50% + 8px);
    }
    .about-container {
        p {
            width: 60%;
            margin-left: 40%;
        }
        h1 {
            width: 60%;
            margin-left: 40%;
        }
        a {
            margin-left: 40%;
        }
    }
    .about-container::before {
        content: "";
        background-image: url("../assets/images/our-roots/our-roots.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
        display: block;
        left: 20px;
        width: calc(40% - 40px);
        height: 100%;
        position: absolute;
    }
}
@media (min-width: variables.$laptop-breakpoint) {
    .about-us-section {
        .about-container {
            min-height: 500px;
        }
    }
    .generations {

        .jason-canning.profile, .harold-canning.profile,
        .profile {
            display: flex;
            flex-direction: row;
            gap: 60px;
            align-items: center;
            position: relative;

            img {
                min-width: 136px;
                min-height: 467px;
                max-width: unset;
                width: unset;
            }
        }
        .profile::before,
        .profile::after,
        .profile > div:first-child:before  {
            content: "";
            display: block;
            background-color: variables.$lightblue;
            position: absolute;
            top: 20px;
            left: -130px;
            border-radius: 50%;
        }
        .profile::before {
            opacity: 0.3;
            width: 75px;
            height: 75px;
        }
        .profile::after {
            opacity: 0.3;
            width: 55px;
            height: 55px;
            left: -120px;
            top: 30px;
        }
        .profile > div:first-child:before {
            opacity: 1;
            width: 35px;
            height: 35px;
            left: -110px;
            top: 40px;
        }
        .gen-container {
            padding-left: 150px;
        }
        .gen-container::before {
            content: "";
            display: block;
            width: 5px;
            margin-top: 120px;
            height: calc(100% - 120px);
            position: absolute;
            left: 55px;
            background: linear-gradient(180deg, #20b8e8 90%, #20b8e800 100%);
        }
    }
}
@media (min-width: variables.$desktop-breakpoint) {
    .about-us-section {
        .circles {
            right: calc(50% - 97px);
        }
        .about-container {
            min-height: 580px;
            p {
                width: 47%;
                margin-left: 51%;
            }
            h1 {
                width: 47%;
                margin-left: 51%;
            }
            a {
                margin-left: 51%;
            }
        }
        .about-container::before {
            height: 100%;
            left: 0px;
            width: 50%;
            background-size: unset
        }
    }
}